# INBUILT DATA STRUCTURE

Python provides several built-in data structures that are used to store and manipulate data efficiently. These data structures are an essential part of Python programming and can be used to solve a wide range of problems. Here are some of the most commonly used built-in data structures in Python:
1. String
2. List
3. Tuple
4. Dictionary
5. Sets

_________________________________________________

## 1. Strings

Strings are sequences of characters and are used to represent text data. Python provides a wide range of string manipulation methods and operations.
We can define strings using single quotes and double quotes or even triple quotes. Strings is immutable in python, means we can not modify string after it's creation.

In [20]:
# string using single quotes

my_str = 'Hello! My name is Deepak Saini.'
print(my_str)
print(type(my_str))

Hello! My name is Deepak Saini.
<class 'str'>

In [21]:
# string using double quotes

my_str = "Hello! I am 21 years old."
print(my_str)
print(type(my_str))

Hello! I am 21 years old.
<class 'str'>

In [22]:
# string using triple quotes

my_str = '''Hello! My name is Deepak Saini.
I am 21 years old.
Will you be my GirlFriend.
'''
print(type(my_str))
print(my_str)

<class 'str'>
Hello! My name is Deepak Saini.
I am 21 years old.
Will you be my GirlFriend.

In [12]:
# accessing string characters
# string supports indexing, we can access strings characters using indexing. Indexing starts from 0.

my_str = "Hello everyone! My name is Deepak"                               # positive indexing
print(my_str[4])

print(my_str[-1])                                                          # negative indexing

o
k

In [18]:
# we can also access multiple string characters in a single time using slicing method

my_str = "Hello everyone! My name is Deepak"
print(my_str[4:10])                                                        # positive slicing, jump value is not neccessary in positive indexing
print(my_str[0::2])

print(my_str[-1:-10:-1])            # -1 is jump value    # negative slicing: we need a jump value along with slicing values in negative indexing

o ever
Hloeeyn!M aei epk
kapeeD si

In [25]:
# strings are immutable

my_str = "Hello everyone! My name is Deepak"

my_str[4] = "HI"                         # gives us error "TypeError: 'str' object does not support item assignment"
print(my_str)

TypeError: 'str' object does not support item assignment

In [6]:
# string concatenation: adding multiple strings

str1 = "Hello"
str2 = "Universe"

str3 = str1 + " " + str2
print(str3)

Hello Universe

In [26]:
# string length

my_str = "Hello everyone! My name is Deepak"
print("length of string: ", len(my_str))

length of string:  33

In [27]:
# strings comparision

str1 = "Hello"
str2 = "Hello"
print(str1 == str2)

str3 = "Python"
print(str1 == str3)

True
False

In [28]:
# iteration over a string using a loop

my_str = "Hello universe"

for i in my_str:
    print(i, end='|')

H|e|l|l|o| |u|n|i|v|e|r|s|e|

In [30]:
# membership in string

my_str = "Hello Riya"
res1 = "R" in my_str
print(res1)

res2 = "D" not in my_str
print(res2)

True
True

In [31]:
# identity in strings 

my_str1 = 'Hello'
my_str2 = 'Hello'

print(my_str1 is my_str2)

True

The code gives you True because both my_str1 and my_str2 refer to the same string object in memory. When you create a string in Python, it is added to a pool of all strings that have been created in the program. If you create another string with the same value, the interpreter will check the pool to see if there is already a string with that value. If there is, it will reuse the existing string object instead of creating a new one.

This is called string interning, and it is an optimization that Python uses to save memory. It is also why the is operator returns True when you compare two strings that have the same value.

#### String Methods:
There are many string methods. Some of them are:


<table>
    <tr>
        <th>Methods</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>upper()</td>
        <td>converts the string to uppercase</td>
    </tr>
    <tr>
        <td>lower()</td>
        <td>converts the string to lowercase</td>
    </tr>
    <tr>
        <td>partition()</td>
        <td>returns a tuple</td>
    </tr>
    <tr>
        <td>replace()</td>
        <td>replaces substring inside</td>
    </tr>
    <tr>
        <td>find()</td>
        <td>returns the index of first occurrence of substring</td>
    </tr>
    <tr>
        <td>rstrip()</td>
        <td>removes trailing characters</td>
    </tr>
    <tr>
        <td>split()</td>
        <td>splits string from left</td>
    </tr>
    <tr>
        <td>startswith()</td>
        <td>checks if string starts with the specified string</td>
    </tr>
    <tr>
        <td>isnumeric()</td>
        <td>checks numeric characters</td>
    </tr>
    <tr>
        <td>index()</td>
        <td>returns index of substring</td>
    </tr>
</table>

In [33]:
# strings lower() method

my_str = "Example_Str"

print(my_str.lower())

example_str

In [34]:
# upper() method

my_str = "example_str"

print(my_str.upper())

EXAMPLE_STR

In [35]:
# split() method

my_str = "example_str"

print(my_str.split("_"))

['example', 'str']

In [38]:
# startswith() method

my_str = 'example_str'
print(my_str.startswith("ed"))

print(my_str.startswith("ex"))

False
True

In [40]:
# isnumeric()

my_str = 'example_str'
numeric_str = '124'

print(my_str.isnumeric())

print(numeric_str.isnumeric())

False
True

In [42]:
# index() 

my_str = "example_str"
print(my_str.index("_"))

7

In [43]:
# replace 

my_str = "example_str"
print(my_str.replace("_", "-"))

example-str

In [47]:
# partition()

my_str = "example_str"
print(my_str.partition("_"))

('example', '_', 'str')

In [48]:
# find()

my_str = "occurence"
print(my_str.find("c"))

1

In [51]:
# rstrip()

my_str = "example_str/str"
print(my_str.rstrip("/str"))

example_

#### string formating

In python we can format strings by two ways. 
1. using .format()
2. using f string

In [52]:
# using .format() method

name = input("Enter your name: ")
age = int(input("Enter your age: "))

print("Your name is {0} and you are {1} years old.".format(name, age))

Enter your name:  Deepak
Enter your age:  21

Your name is Deepak and you are 21 years old.

In [53]:
# using f string
name = input("Enter your name: ")
age = int(input("Enter your age: "))

print(f"Your name is {name} and you are {age} years old.")

Enter your name:  Deepak
Enter your age:  21

Your name is Deepak and you are 21 years old.

#### Escape Sequences

The escape sequence is used to escape some of the characters present inside a string. There are many escape sequences in python. Some of them are:-

<table>
    <tr>
        <th>Escape Sequence</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>\\</td>
        <td>Backslash</td>
    </tr>
    <tr>
        <td>\'</td>
        <td>Single quote</td>
    </tr>
    <tr>
        <td>\"</td>
        <td>Double quote</td>
    </tr>
    <tr>
        <td>\a</td>
        <td>ASCII Bell</td>
    </tr>
    <tr>
        <td>\b</td>
        <td>ASCII Backspace</td>
    </tr>
    <tr>
        <td>\f</td>
        <td>ASCII Formfeed</td>
    </tr>
    <tr>
        <td>\n</td>
        <td>ASCII Linefeed</td>
    </tr>
    <tr>
        <td>\r</td>
        <td>ASCII Carriage Return</td>
    </tr>
    <tr>
        <td>\t</td>
        <td>ASCII Horizontal Tab</td>
    </tr>
    <tr>
        <td>\v</td>
        <td>ASCII Vertical Tab</td>
    </tr>
    <tr>
        <td>\ooo</td>
        <td>Character with octal value ooo</td>
    </tr>
    <tr>
        <td>\xHH</td>
        <td>Character with hexadecimal value HH</td>
    </tr>
</table>

In [54]:
# escape double quotes
example = "He said, \"What's there?\""

# escape single quotes
example = 'He said, "What\'s there?"'

print(example)

# Output: He said, "What's there?"

He said, "What's there?"

**************************

## 2. List

In Python, a list is a versatile and widely used data structure that represents an ordered collection of items. Lists are mutable, which means you can change their contents (add, remove, or modify elements) after creation. Lists are defined by enclosing a comma-separated sequence of values within square brackets [ ].  A list can contains multiple data types elements and can store duplicate elements. Here are the key characteristics and operations related to lists in Python:

In [56]:
# List creation

my_list = [1, 3.5, 'str', True, 2+3j]
print(my_list)
print(type(my_list))

[1, 3.5, 'str', True, (2+3j)]
<class 'list'>

In [58]:
# list indexing

print(my_list[2])                         # +ve indexing
print(my_list[4])

print(my_list[-2])                        # -ve indexing
print(my_list[-4])

str
(2+3j)
True
3.5

In [59]:
# list slicing

print(my_list[1:4])                        # slicing using +ve indexing
print(my_list[-1:-4:-1])                    # slicing using -ve indexing

[3.5, 'str', True]
[(2+3j), True, 'str']

In [60]:
# length of list

print(len(my_list))

5

In [61]:
# list concatenation

my_list2 = [1, 2, 3, 4, 5]
my_list = my_list + my_list2

print(my_list)

[1, 3.5, 'str', True, (2+3j), 1, 2, 3, 4, 5]

In [62]:
# modification of list 
print(my_list)

my_list[1] = 100
print(my_list)

[1, 3.5, 'str', True, (2+3j), 1, 2, 3, 4, 5]
[1, 100, 'str', True, (2+3j), 1, 2, 3, 4, 5]

#### list methods

Python has many useful list methods that makes it really easy to work with lists.

<table>
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>append()</td>
        <td>add an item to the end of the list</td>
    </tr>
    <tr>
        <td>extend()</td>
        <td>add all the items of an iterable to the end of the list</td>
    </tr>
    <tr>
        <td>insert()</td>
        <td>inserts an item at the specified index</td>
    </tr>
    <tr>
        <td>remove()</td>
        <td>removes item present at the given index</td>
    </tr>
    <tr>
        <td>pop()</td>
        <td>returns and removes item present at the given index</td>
    </tr>
    <tr>
        <td>clear()</td>
        <td>removes all items from the list</td>
    </tr>
    <tr>
        <td>index()</td>
        <td>returns the index of the first matched item</td>
    </tr>
    <tr>
        <td>count()</td>
        <td>returns the count of the specified item in the list</td>
    </tr>
    <tr>
        <td>sort()</td>
        <td>sort the list in ascending/descending order</td>
    </tr>
    <tr>
        <td>reverse()</td>
        <td>reverses the item of the list</td>
    </tr>
    <tr>
        <td>copy()</td>
        <td>returns the shallow copy of the list</td>
    </tr>
</table>

In [63]:
# append()

my_list.append(500)
print(my_list)

[1, 100, 'str', True, (2+3j), 1, 2, 3, 4, 5, 500]

In [64]:
# extend

my_tuple = (1000, 2000, 3000)
my_list.extend(my_tuple)
print(my_list)

[1, 100, 'str', True, (2+3j), 1, 2, 3, 4, 5, 500, 1000, 2000, 3000]

In [66]:
# insert()

my_list.insert(5, 5000)
print(my_list)

[1, 100, 'str', True, (2+3j), 5000, 1, 2, 3, 4, 5, 500, 1000, 2000, 3000]

In [70]:
# remove()

my_list.remove(5000)
print(my_list)

[1, 100, 'str', True, (2+3j), 1, 3, 4, 5, 500, 1000, 2000, 3000]

In [71]:
# pop()

poped_item = my_list.pop(4)
print(poped_item)
print(my_list)

(2+3j)
[1, 100, 'str', True, 1, 3, 4, 5, 500, 1000, 2000, 3000]

In [72]:
# index()

item_index = my_list.index(5)
print(item_index)

7

In [75]:
#count()

item_count = my_list.count(1)
print(item_count)

3

In [80]:
# sort()

my_list2 = [ 1, 3, 1000, 2000, 3000, 4, 5, 500]

my_list2.sort()
print(my_list2)

[1, 3, 4, 5, 500, 1000, 2000, 3000]

In [83]:
# reverse()

my_list.reverse()

print(my_list)

[3000, 2000, 1000, 500, 5, 4, 3, 1, True, 'str', 100, 1]

In [85]:
# clear()

my_list.clear()
my_list2.clear()

In [86]:
# Iterating through a List

fruits = ['apple', 'banana', 'orange', 'litchi']

for fruit in fruits:
    print(fruit)

apple
banana
orange
litchi

In [87]:
# Check if an Element Exists in a List

print('grapes' in fruits)

False

***********************************

## 3. Tuples

A tuple is a data structure that is very similar to a list, but with one crucial difference: tuples are immutable, meaning their elements cannot be modified, added, or removed after creation. Tuples are typically used to store collections of related data that should remain constant throughout the program's execution.

#### Tuple Creation

You can create tuples in Python by enclosing a comma-separated sequence of values within parentheses (). It's common to use parentheses to define tuples, but they are optional, and a comma-separated sequence alone is also treated as a tuple. A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [88]:
my_tuple = (1, 2, 3)
another_tuple = 4, 5, 6  # Parentheses are optional

In [89]:
print(type(my_tuple))
print(type(another_tuple))

<class 'tuple'>
<class 'tuple'>

In [90]:
# indexing 

letters = ("p", "r", "o", "g", "r", "a", "m", "i", "z")

print(letters[0])   # prints "p"                       +ve indexing
print(letters[5])   # prints "a"  

print(letters[-5])                                     # +ve indexing

p
a
r

In [92]:
# slicing 

print(letters[0:5])
print(letters[-1:-5:-1])

('p', 'r', 'o', 'g', 'r')
('z', 'i', 'm', 'a')

In [93]:
# trying to modifying typle

letters[5] = "500"
print(letters)

TypeError: 'tuple' object does not support item assignment

In [94]:
# Tuple Unpacking

x, y = (5, 10)
print(x, y)

5 10

In [95]:
# Tuple Concatenation

words = ('Hello', 'Hi', 'Namaste')

my_tuple = letters + words
print(my_tuple)

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z', 'Hello', 'Hi', 'Namaste')

In [96]:
#Iterating through a Tuple

for i in my_tuple:
    print(i)

p
r
o
g
r
a
m
i
z
Hello
Hi
Namaste

#### Python Tuple Methods
In Python ,methods that add items or remove items are not available with tuple. Only the following two methods are available.

In [97]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  # prints 2
print(my_tuple.index('l'))  # prints 3

2
3

*************************

## Set

In Python, a set is a built-in data structure used to store an unordered collection of unique elements. Sets are similar to lists and tuples, but they have the following key characteristics:

1. Uniqueness: Sets can only contain unique elements. If you try to add a duplicate element to a set, it will not be included in the set.
2. Order: Sets do not guarantee any specific order for their elements. Elements are stored in an unordered manner, and their order may not be preserved when iterating through the set.
3. Mutability: Sets are mutable, meaning you can add or remove elements from a set after it is created.


Sets are defined by enclosing a comma-separated sequence of values within curly braces {} or by using the set() constructor.

In [98]:
# creation of set

my_set = {1, 2, 3, 4, 3}
another_set = set([3, 4, 5, 6])

print(my_set)
print(type(my_set))
print(another_set)
print(type(another_set))

{1, 2, 3, 4}
<class 'set'>
{3, 4, 5, 6}
<class 'set'>

In [100]:
# set not support indexing

In [101]:
# Iterate Over a Set

fruits = {"Apple", "Peach", "Mango"}

# for loop to access each fruits
for fruit in fruits: 
    print(fruit)

Peach
Apple
Mango

In [102]:
# Add and Update Set Items 

numbers = {21, 34, 54, 12}

print('Initial Set:',numbers)

# using add() method
numbers.add(32)

print('Updated Set:', numbers) 

companies = {'Lacoste', 'Ralph Lauren'}
tech_companies = ['apple', 'google', 'apple']

companies.update(tech_companies)

print(companies)

# Output: {'google', 'apple', 'Lacoste', 'Ralph Lauren'}

Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}
{'google', 'apple', 'Lacoste', 'Ralph Lauren'}

In [103]:
# remove()

languages = {'Swift', 'Java', 'Python'}

print('Initial Set:',languages)

# remove 'Java' from a set
removedValue = languages.discard('Java')

print('Set after remove():', languages)

Initial Set: {'Swift', 'Java', 'Python'}
Set after remove(): {'Swift', 'Python'}

#### Built-in Functions with Set


<table>
    <tr>
        <th>Function</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>all()</td>
        <td>Returns True if all elements of the set are true (or if the set is empty).</td>
    </tr>
    <tr>
        <td>any()</td>
        <td>Returns True if any element of the set is true. If the set is empty, returns False</td>
    </tr>
    <tr>
        <td>enumerate()</td>
        <td>Returns an enumerate object. It contains the index and value for all the items of the set as a pair.</td>
    </tr>
    <tr>
        <td>len()</td>
        <td>Returns the length (the number of items) in the set.</td>
    </tr>
    <tr>
        <td>max()</td>
        <td>Returns the largest item in the set.</td>
    </tr>
    <tr>
        <td>min()</td>
        <td>Returns the smallest item in the set.</td>
    </tr>
    <tr>
        <td>sorted()</td>
        <td>Returns a new sorted list from elements in the set(does not sort the set itself). </td>
    </tr>
    <tr>
        <td>sum()</td>
        <td>Returns the sum of all elements in the set.</td>
    </tr>
</table>

#### Set Methods
There are many set methods. Here is a list of all the methods that are available with the set objects:

<table>
    <tr>
        <th>Method</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>add()</td>
        <td>Adds an element to the set</td>
    </tr>
    <tr>
        <td>clear()</td>
        <td>Removes all elements from the set</td>
    </tr>
    <tr>
        <td>difference()</td>
        <td>Returns the difference of two or more sets as a new set</td>
    </tr>
    <tr>
        <td>difference_update()</td>
        <td>Removes all elements of another set from this set</td>
    </tr>
    <tr>
        <td>discard()</td>
        <td>Removes an element from the set if it is a member. (Do nothing if the element is not in set)</td>
    </tr>
    <tr>
        <td>intersection()</td>
        <td>Returns the intersection of two sets as a new set</td>
    </tr>
    <tr>
        <td>intersection_update()</td>
        <td>Updates the set with the intersection of itself and another</td>
    </tr>
    <tr>
        <td>isdisjoint()</td>
        <td>Returns True if two sets have a null intersection</td>
    </tr>
    <tr>
        <td>issubset()</td>
        <td>Returns True if another set contains this set</td>
    </tr>
    <tr>
        <td>issubset()</td>
        <td>Returns True if another set contains this set</td>
    </tr>
    <tr>
        <td>issuperset()</td>
        <td>Returns True if this set contains another set</td>
    </tr>
    <tr>
        <td>pop()</td>
        <td>Removes and returns an arbitrary set element. Raises KeyError if the set is empty</td>
    </tr>
    <tr>
        <td>remove()</td>
        <td>Removes an element from the set. If the element is not a member, raises a KeyError</td>
    </tr>
    <tr>
        <td>symmetric_difference()</td>
        <td>Returns the symmetric difference of two sets as a new set</td>
    </tr>
    <tr>
        <td>symmetric_difference_update()</td>
        <td>Updates a set with the symmetric difference of itself and another</td>
    </tr>
    <tr>
        <td>union()</td>
        <td>Returns the union of sets in a new set</td>
    </tr>
    <tr>
        <td>update()</td>
        <td>Updates the set with the union of itself and others</td>
    </tr>
</table>

****************************

## Dictionary
A dictionary is a built-in data structure used to store a collection of key-value pairs. Dictionaries are sometimes also known as associative arrays, maps, or hash maps in other programming languages. Dictionaries are characterized by the following key features:

1. Key-Value Mapping: Each element in a dictionary is a pair of a key and its associated value. Keys are unique within a dictionary, and they are used to look up and retrieve values.

2. Unordered: Dictionaries do not guarantee any specific order for their key-value pairs. However, starting from Python 3.7 and later, dictionaries maintain the order of insertion of items, making them ordered by default.

3. Mutable: Dictionaries are mutable, meaning you can change their contents after creation. You can add, modify, or remove key-value pairs as needed.

4. Key Immunity: Keys must be immutable data types. Common examples of valid keys are strings, numbers, and tuples (if they contain only immutable elements). Lists and dictionaries cannot be used as keys because they are mutable.


Dictionaries are defined by enclosing a comma-separated sequence of key-value pairs within curly braces {} or by using the dict() constructor.

In [104]:
# Dictionary creation

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
another_dict = dict(name='Bob', age=25, city='Los Angeles')

print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [105]:
# length of dictionary

print(len(another_dict))

3

In [107]:
# we can access the values in a dictionary by specifying the key within square brackets.

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
name = my_dict['name']  
age = my_dict['age']    

name, age

('Alice', 30)

In [108]:
# we can also use the get() method to access values, which allows you to specify a default value if the key doesn't exist.

name = my_dict.get('name', 'Unknown')  # Result: 'Alice'
country = my_dict.get('country', 'Unknown')  # Result: 'Unknown' (key not found)

name, country

('Alice', 'Unknown')

In [109]:
# Adding 

print(my_dict)
my_dict['email'] = 'alice@example.com'  # Adding a new key-value pair
my_dict['age'] = 31                     # Modifying the value for an existing key

print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 31, 'city': 'New York', 'email': 'alice@example.com'}

In [110]:
# we can remove key-value pairs from a dictionary using the del statement or the pop() method.

del my_dict['city']  # Removes the 'city' key and its value
email = my_dict.pop('email', 'No email')  # Removes 'email' key and returns its value

In [112]:
print(my_dict)

{'name': 'Alice', 'age': 31}

In [113]:
# Dictionary Iteration

my_dict = {'name': 'Alice', 'age': 30, 'city': 'New York'}
for key in my_dict:
    print(key)  # Iterating over keys

for value in my_dict.values():
    print(value)  # Iterating over values

for key, value in my_dict.items():
    print(key, value)  # Iterating over key-value pairs

name
age
city
Alice
30
New York
name Alice
age 30
city New York

In [114]:
# Membership Testing

if 'name' in my_dict:
    print('Name is in the dictionary')

Name is in the dictionary

#### Dictionary Methods
Here are some of the commonly used dictionary methods.

<table>
    <tr>
        <th>Function</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>pop()</td>
        <td>Remove the item with the specified key.</td>
    </tr>
    <tr>
        <td>update()</td>
        <td>Add or change dictionary items.</td>
    </tr>
    <tr>
        <td>clear</td>
        <td>Remove all the items from the dictionary.</td>
    </tr>
    <tr>
        <th>keys()</th>
        <th>Returns all the dictionary's keys.</th>
    </tr>
    <tr>
        <th>values()</th>
        <th>Returns all the dictionary's values.</th>
    </tr>
    <tr>
        <th>get()</th>
        <th>Returns the value of the specified key.</th>
    </tr>
    <tr>
        <th>popitem()</th>
        <th>Returns the last inserted key and value as a tuple.</th>
    </tr>
    <tr>
        <th>copy()</th>
        <th>Returns a copy of the dictionary.</th>
    </tr>

</table>